tunnel: syncrescendence-ontology
credentials-file: /Users/system/.cloudflared/<TUNNEL-UUID>.json

ingress:
  - hostname: syncrescendence.com
    service: http://127.0.0.1:8080
  - hostname: www.syncrescendence.com
    service: http://127.0.0.1:8080
  - service: http_status:404
